.list-view {
    -fx-padding: 3px ;
    -fx-background-color: rgba(250, 250, 250, 0.71);
}

.list-cell {
    -fx-padding: 25px 23px ;
    -fx-background-radius: 22px;
    -fx-background-color: transparent, rgba(250, 250, 250, 0.51) ;
    -fx-background-insets: 0px, 5px ;
}

.list-view .list-cell:empty {
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

.list-cell:selected {
    -fx-background-color: transparent, rgba(255, 255, 255, 0.71);
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 5,5;
}

.button:hover {
    -fx-background-color: rgba(250, 250, 250, 0.51);
}